<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <label for="num1" class="form-label">Numero A:</label>
                <input type="number" class="form-control" name="num1" id="num1" [(ngModel)]="num1">
                <label for="" class="form-label">Numero B:</label>
                <input type="number" value="" class="form-control" name="num2" id="num2" [(ngModel)]="num2">
                <div class="row m-4">
                    <div class="col-md-3">
                        <button type="submit"  class="btn btn-success " (click)="onSumar()"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                          </svg>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit"  class="btn btn-success " (click)="onResta()"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                              </svg>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit"  class="btn btn-success " (click)="onMulti()"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                              </svg>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit"  class="btn btn-success " (click)="onDivi()"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash" viewBox="0 0 16 16">
                                <path d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                              </svg>
                        </button>
                    </div>
                    
                </div>
                
            </form>
        </div>
        <div class="col-md-6">
            <div class="p-4 m-4">
                <p  >Número A:  {{num1}} y Número B: {{num2}}</p>
                <p  appMyfocus *ngIf="resultado > 0">Elresultado es : {{resultado}}</p> 
              
            </div>
        </div>
    </div>
    
</div>