<div class="container">
    <div class="col-md-6">
        <form action="">
            <label for="" class="form-label">Numero A:</label>
            <input type="number" class="form-control" name="num1" ng>
            <label for="" class="form-label">Numero B:</label>
            <input type="number" value="" class="form-control" name="num2">
            <input type="submit"  class="btn btn-success" value="Calcular">
        </form>
    </div>
    <div class="col-md-6">
        <div class="p-4 m-4">
            <p></p>
        </div>
    </div>
</div>