<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <label for="num1" class="form-label">Numero A:</label>
                <input type="number" class="form-control" name="num1" id="num1" [(ngModel)]="num1">
                <label for="" class="form-label">Numero B:</label>
                <input type="number" value="" class="form-control" name="num2" id="num2" [(ngModel)]="num2">
                
                <button type="submit"  class="btn btn-success m-4" (click)="onSumar()"> Calcular suma</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="p-4 m-4">
                <p  >Número A:  {{num1}} y Número B: {{num2}}</p>
                <p  appMyfocus *ngIf="resultado > 0">La suma es : {{resultado}}</p> 
              
            </div>
        </div>
    </div>
    
</div>